yoloenv/
fastrcnn/
__pycache__/
*.pyc

datasets/
datasets_coco/
datasets_degraded/
degraded/
datasets_merged/
*.cache

runs/
runs_rfdetr/
wandb/
rfdetr_env/
*.pt
*.pth
*.engine
*.onnx

videos/
*.mp4
*.webm
*.avi

fasterrcnn-pytorch-training-pipeline/
/datasets_merged
