yoloenv/
fastrcnn/
__pycache__/
*.pyc

datasets/
datasets_coco/
datasets_degraded/
degraded/
datasets_merged/
*.cache


wandb/
rfdetr_env/
*.pt
*.pth
*.engine
*.onnx

videos/
*.mp4
*.webm
*.avi

fasterrcnn-pytorch-training-pipeline/
/datasets_merged


runs/**
runs_rfdetr/**
!runs/**/
!runs_rfdetr/**/
!runs/**/*.dvc
!runs_rfdetr/**/*.dvc
*.ckpt
