yoloenv/
fastrcnn/
__pycache__/
*.pyc

datasets/
datasets_coco/
datasets_neg/
datasets_neg_coco/
datasets_degraded/
degraded/
sompt_neg
datasets_merged/
SOMPT22/
sompt22.zip
sompt_screen
sompt_screen_v4
sompt_screen_v5
screen_v5_fp
*.cache


wandb/
rfdetr_env/
*.pt
*.pth
*.engine
*.onnx

videos/
*.mp4
*.webm
*.avi

fasterrcnn-pytorch-training-pipeline/
/datasets_merged


runs/**
runs_rfdetr/**
!runs/**/
!runs_rfdetr/**/
!runs/**/*.dvc
!runs_rfdetr/**/*.dvc
*.ckpt
